/*
Variables
*/

$vex: #a21e24;
$primary: $vex;

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-serif: Georgia;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
/*
functions
*/

@function pixToRem($pixels) {
  @return $pixels / $body-size * 1rem;
}

/*
Mixins
*/

@mixin size($width, $height) {
  @if ($width == 'auto' or unit($width) == '%') {
    width: $width;
  } @else {
    width: pixToRem($width);
  }

  @if ($height == 'auto' or unit($height) == '%') {
    height: $height;
  } @else {
    height: pixToRem($height);
  }
}

/*
Imports
*/
@import '~bootstrap/scss/bootstrap';

/*
Global
*/

body {
  font: 1rem/1.5 var(--font-family-serif);
}

.bg-full {
  background-size: cover;
  background-position: center;
}

/*
Site Navigation
*/
.site-logo {
  height: 3rem;

  * {
    stroke: rgba(black, 0.5) !important;
    transition: all 400ms;
  }

  &:hover {
    * {
      stroke: rgba(black, 1) !important;
    }
  }
}
/*
Personnel 
*/

.avatar--circle {
  @include size(4rem, 4rem);
  border-radius: 2rem;
}
