@import "variables";
@import "mindbody";

/*
functions
*/

@function pixToRem($pixels) {
  @return $pixels / $body-size * 1rem;
}

/*
Mixins
*/

/*
Imports
*/
@import "~bootstrap/scss/bootstrap";

/*
Global
*/

html {
  scroll-behavior: smooth;
  font-size: 12px;

  @include media-breakpoint-up(sm) {
    font-size: 13px;
  }
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}

.trapezoid-clip--left {
  height: 500px;
  width: 200px;
  clip-path: polygon(0% 0%, 40% 0%, 80% 100%, 0% 100%);
  shape-outside: polygon(0% 0%, 50% 0%, 90% 100%, 0% 100%);
  float: left;

  @include media-breakpoint-up(sm) {
    width: 500px;
    height: 500px;
    clip-path: polygon(0% 0%, 25% 0%, 40% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 35% 0%, 50% 100%, 0% 100%);
  }

  @include media-breakpoint-up(md) {
    width: 500px;
    height: 500px;
    clip-path: polygon(0% 0%, 40% 0%, 60% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 50% 0%, 70% 100%, 0% 100%);
  }

  @include media-breakpoint-up(xl) {
    height: 600px;
    width: 600px;
    clip-path: polygon(0% 0%, 70% 0%, 90% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
}

.bg-full {
  background-size: cover;
  background-position: center;
}

.full-height {
  height: 0;
  min-height: 100vh;
}

small,
.small {
  font-weight: $font-weight-base;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.5);
}

.modal-container {
  // border-radius: 50px;
  overflow: hidden;
}

/*
Site Navigation
*/

.site-logo {
  height: 3rem;

  * {
    stroke: rgba(black, 0) !important;
    transition: all 400ms;
    fill: rgba(black, 0.25) !important;
  }

  &:hover {
    * {
      stroke: rgba(black, 0) !important;
      fill: rgba(black, 0.5) !important;
    }
  }
}

.vex-banner--slide {
  height: 46vw;
}

.home-page--logo svg {
  fill: none;
  stroke: #000000;
  width: 200%;
  height: 200%;
}

.home-page--words {
  // width: 0;
  overflow: hidden;
}

.vex-banner--slide {
  transition: all 1s;
  position: relative;
  z-index: -1;
  height: 100vh;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    // background: linear-gradient(to bottom, rgba(white, 1), rgba(white, 1));
  }
}

.vex-banner--slide {
  &:after {
    background: linear-gradient(
      to bottom,
      rgba(white, 0) 75%,
      rgba(white, 1) 100%
    );
  }
}

/*
Personnel 
*/

.avatar--circle--outer {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
}

.avatar--circle {
  // border: 0.75rem solid #f6f6f6;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  transition: all 400ms;
  filter: grayscale(100%);

  // border-radius: 50px;
}

// .avatar--circle--outline {
//   position: absolute;
//   top: 0;
//   left: 0;
//   background: $primary;
//   opacity: 0;
// }

.team-list--card:hover {
  .avatar--circle {
    // border: 2px solid $primary;
    filter: grayscale(0%);
  }
  // .avatar--circle--outline {
  //   animation: splash 1s;
  // }
}

// @keyframes splash {
//   0% {
//     opacity: 1;
//     transform: scale(1);
//   }

//   100% {
//     opacity: 0;
//     transform: scale(1.5);
//   }
// }

.team-member--avatar {
  padding: 100% 0 0 0;
  width: 100%;
  border-radius: 0 0 50px;

  @include media-breakpoint-up(md) {
    width: 75%;
    padding: 75% 0 0 0;
    border-radius: 50px;
  }

  @include media-breakpoint-up(lg) {
    width: 66%;
    padding: 66% 0 0 0;
  }
}

.bw-widget__header {
  padding-right: 3rem;
}

.accordion-container {
  margin-left: 2em;

  p {
    margin-bottom: 0;
  }
}

.accordion-header {
  position: relative;
  cursor: pointer;
}

.accordion-header {
  * {
    display: inline-block;
  }

  &:before {
    content: "+";
    font-size: 1.5em;
    line-height: 1em;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
  }
}

.accordion-header.open:before {
  content: "–";
}

.door {
  background: white;
}
